{{> header}} 
{{> top}}
        <div class="content">
        <center>
            <span id="subtitle" class="subtitle-white">{{subtitle}}</span>
            <div id="loading-spinner" style="display:none">
            <object id="custom-svg" type="image/svg+xml" data="/static/svg/loading.svg"></object>
            </div>
        </center>
        </div>
        <div id="response-container" class="confirm-button-container">
          <form id="form" action="/dashboard/tapp/delete" method="post">
            <input id="tapp-name" type="hidden" name="name" value="{{tapp_name}}" />
            <button id="yes-btn" class="yes-danger-btn">Yes</button>
          </form>
          <a href="/dashboard"><button class="no-danger-btn">No</button></a>
          <script src="/static/js/wait_delete.js"></script>
{{>footer}} 

