{{> top}}
<div class="content" id="content" hx-swap-oob="true">
    <form id="editForm" hx-post="{{ action.url }}" hx-trigger="submit">
     {{> forms/wizard}}
    </form> 
  <center>
    <div id="tabsContainer" class="tabs" hx-swap-oob="true"></div>
  </center>
</div>
<script src="/static/js/wizard.js"></script> 
