{{> header}}
{{> top}}
<form id="form" action="/login" method="post">
  <aside> 
    {{#if error_html}}
      <span class="subtitle-red">{{error_html}}</span>
    {{/if}}
    <br />
    <span class="subtitle">Email:</span>
    <input type="email" name="email" value="" />
    <br />
    <center>
      <p>
        <span class="subtitle-white">
          No registration required
        </span>
      </p>
      <br />
      <input id="form" type="submit" value="SUBMIT" class="submit-btn" />
      <br />
      <span class="powered-by-btn">
        Powered by
      <a href="https://portier.github.io"> Portier</a>
      </span>
    </center>
  </aside>
</form>
