{{> header}}
{{> top}}
<div class="content">
  <br />
  <form id="editForm" onsubmit="processFormData(event, '/dashboard/new');">
    {{> forms/wizard}}
  <progress id="progressBar" value="0"></progress>
  </form>
</div>
{{> footer}}
