<div id="tapp-input">
  {{> inputs/tapp}}
</div>
<div id="container-input">
  {{> inputs/container}}
</div>
<div id="domain-input">
  {{> inputs/domain}}
</div>
<div id="environment-input">
  {{> inputs/environment}}
</div>
<div id="secrets-input">
  {{> inputs/secrets}}
</div>
<div id="files-input">
  {{> inputs/files}}
</div>
<div id="volumes-input">
  {{> inputs/volumes}}
</div>

<script src="/static/wizard.js"></script>
<script src="/static/key_value.js"></script>
<script src="/static/post.js"></script>
