<div id="tapp-input">
  {{> inputs/tapp}}
</div>
<div id="container-input">
  {{> inputs/container}}
</div>
<div id="git-input">
  {{> inputs/git}}
</div>
<div id="environment-input">
  {{> inputs/environment}}
</div>
<div id="domain-input">
  {{> inputs/domain}}
</div>
<script src="/static/js/custom_checkbox.js"></script>
<script src="/static/js/key_value.js"></script>
<script src="/static/js/file_content.js"></script>
<script src="/static/js/post.js"></script>
