{{> header }}
{{> top}}
<div id="content" class="content">
  <div hx-get="/dashboard/tapp/deploying?name={{tapp_name}}"
      hx-trigger="every 2s"
      hx-swap="outerHTML"
      hx-push-url="/dashboard/tapp/deploying?name={{tapp_name}}"
      id="polling-area">
    <center>
      <span class="subtitle-white">Verifying deployment...</span>
    </center>
  </div>
</div>
{{> footer }}
