<div class="bottom-bar">
  <span class="subtitle-white no-select">
    Connected as:
    {{user}}
  </span>
  <form
    name="logoutForm"
    action="/logout"
    method="post"
    style="margin: 0; display: flex; align-items: center;"
  >
    <input type="submit" value="Logout" class="submit-btn" />
  </form>
</div>
</body>
</html>
