{{> header}}
{{> top}}
<div class="content">
  <br />
  <form id="editForm" onsubmit="processFormData(event, '/dashboard/new');">
    {{> forms/wizard}}
  </form>
  <center>
    <div id="tabsContainer" class="tabs"></div>
  </center>
</div>
{{> footer}}
